*{
    margin: 0;
    padding: 0;
}


.seis{
   background-color: red;
    color:#FFFAF0;
    padding: 2px;
    height: 30px;
    width: 105px;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;  
}


.dos{
    background-color: yellow;
    color:#FFFAF0;
    padding: 2px;
    height: 30px;
    width: 105px;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}

.tres{
    color: black ;
    background-color: limegreen;
        
    color:#FFFAF0;
    padding: 2px;
    height: 30px;
    width: 105px;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}

.cua{
     background-color: blue;
    color:#FFFAF0;
    padding: 2px;
    height: 30px;
    width: 105px;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}
.cin{
    background-color: gray;
    color:#FFFAF0;
    padding: 2px;
    height: 30px;
    width: 105px;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}




header div{
    background-image: url(../img/logo.png);
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin: 15px 15px 15px 40px;
    text-align: center;
    
}

.navegador{
     display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 8px;
    width: 650px;
    
}
a{
    text-decoration: none
        
}
